<!DOCTYPE html>
<html>
  <head>
    <title>Task Checker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">
       <div class="header">
          <div class="app_name">
             Task Checker
          </div>
       </div>
     <%= javascript_pack_tag 'tasks/index' %>
     <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
     <%= yield %>
     </div>
  </body>
</html>